.git
.gitignore
.env
.env(dev)
__pycache__
*.pyc
*.pyo
*.pyd
.db.sqlite3
.pytest_cache
.vscode
.idea
venv
.venv
node_modules
static
media
Dockerfile
docker-compose.yml
requirements/dev.txt
requirements/test.txt
scripts/test_celery.py
README.md
